.header{
    background-color: blue;
    grid-column: 1 / -1;
    height: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.sidebar{
    background-color: blueviolet;
    grid-column: 1fr;
    height: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.content{
    background-color: brown;
    grid-column: 2fr;   
    height: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}
.cont{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: auto 1fr;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    color: black;
    grid-gap: 10px;
}
.menu{
    background-color: grey;
    grid-column: 1 / -1;
    height: 30px;
    padding: 10px;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}
.barra-direita{
    background-color: bisque;
    height: 300px;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}
.rodape{
    grid-column: 1 / -1;
    background-color: aqua;
    height: 50px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    
}