p {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;

}

#facil {
    color: green;
    font-weight: bolder;
    font-size: 20px;
}

h2 {
    color: orange;
}

input { 
    color: blueviolet;
}


select {
    color: red;
}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;

} /*O * server como referencia universal da pagina*/

a {
    color: red;
}

#email {
    color: crimson
}
.burritos {
    color: black;
    font-weight: bold;
    font-size: 30px;
} /*o ponto e para usar uma classe no css*/

/*Display Block ocupa a linha toda, o Display in-line ocupa
 apenas o nescessario permitindo que os elementos fiquem um
  ao lado do outro*/

/* in-line block perite customizar os blocos*/

.display-block{
    display: block;
    background-color: blue;
    border: 1px solid black;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
}

.display-inline{
    display: inline;
    background-color: blueviolet;
    border: solid black;
    color: black;
    margin: 20px;
}
.display-inline-block{
    display: inline-block;
    background-color: green;
    border: 1px solid black;
}
.texto{
    color: black;
}
body{
    padding: 20px;
}
.imagem{
    float: left;
    width: 100px;
    margin: 20px;

}
.menu{
    display: block;
    border: 2px solid black;
    background-color: cornflowerblue;
    color: orange;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 10px;
    
}
.whatsapp{
    width: 100px;
    float: right;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1; /*quanto maior o valor no z index maior a prioridade de ficar na frente dos outros elementos*/
}
.relative{
    background-color: grey;
    position: relative;
    height: 100px;
    z-index: 0;

}
.absoluto{
    position: absolute;
    height: 50px;
    background-color: red;
    bottom: -19px;
    right: 10px;
    width: 20px;
    margin: 20px;
}