.container{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    flex-wrap: wrap;
    border-radius: 20px;
}
.box{
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box1{
    background-color: rgb(66, 66, 194);
    flex-grow: 1;
}
#box2{
    background-color: orange;
    flex-grow: 1;
}
#box3{
    background-color: brown;
    flex-grow: 2;
}
