.header{
    background-color: blue;
    grid-column: 1 / -1;
    height: 50px;
    padding: 10px

}

.sidebar{
    background-color: blueviolet;
    grid-column: 1fr;
    height: 300px;
    padding: 10px
}

.content{
    background-color: brown;
    grid-column: 2fr;   
    height: 300px;
    padding: 10px
}
.cont{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: auto 1fr;
    text-align: center;
}
.menu{
    background-color: grey;
    grid-column: 1 / -1;
    height: 30px;
    padding: 10px;
    text-align: center;
}
.barra-direita{
    grid-column: 1fr;
    background-color: bisque;
    height: 300px;
    padding: 10px;
    text-align: center;
}
.rodape{
    grid-column: 1 / -1;
    background-color: aqua;
    height: 50px;
    padding: 10px;
    text-align: center;
}